@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ул. Астана Кесаева 10<br />
    Севастополь, 299000, Российская Федерация<br />
    <abbr title="Телефон Председателя">P:</abbr>
    +7-000-000-00-00
</address>

<address>
    <strong>Председатель Правления:</strong>   <a href="mailto:Support@example.com">pravlenie@example.com</a><br />
    <strong>Бухгалтер:</strong> <a href="mailto:Marketing@example.com">orders@example.com</a>
</address>